<h1>Adicionar uma Recomendação</h1>
<hr>

<div id="formulario">
  <h2> Adicione uma Recomendação</h2>
  <div class="conteudo">
      <form [formGroup]="form">
      <h3>Nome</h3>
      <input type="text" formControlName="title" placeholder="Nome">
      <h3>Tipo</h3>
      <input type="text" formControlName="kind" placeholder="Tipo">
      <h3>Descrição</h3>
      <input type="text" formControlName="description" placeholder="Descrição">
      <h3>Imagem Url</h3>
      <input type="text" formControlName="imageUrl"  placeholder="Imagem Url">
      <div class="col-lg-12" style="text-align: right; margin-top: 10px;">
        <button class="adicionar">Adicionar</button>
      </div>
      </form>
    </div>
</div>