.card-body {
  border-radius: 0 0 3px 3px ;
  background-color: white;
  font-family: Arial;
}

.card-body > p {
  display: none;
}
.card-body:hover > p {
  display: block;
}

.card-body > a {
  color: black;
  text-decoration: none;
}

span.badge {
  padding: 8px;
  color: #000;
  background-color: #2CBFB1;
}
