.recommendation {
  width: 600px;
  padding: 1em;
  margin-bottom: 1em;
  border: solid 1px #cccccc;
  border-radius: 8px;
  font-family: ARial;
}

.recommendation > p {
  display: none;
}
.recommendation:hover > p {
  display: block;
}

span.badge {
  padding: 8px;
  color: #000;
  background-color: #bada55;
}

.like {
  float: right;
  background-color: #bada55;
  border: none;
}

.like:active {
  background-color: #859b3d;
}