header {
  display: flex;
}

h1 {
  flex: 1;
  color: #F57F1D;
  font-family: Arial, Helvetica, sans-serif;
}

header > a {
  flex: 1;
  margin-top:auto ;
  color: #F57F1D;
  text-align: right;
  text-decoration: none;
}

header:hover > a {
  text-decoration: underline;
}

.kinds {
  background-color: #2CBFB1;
}